In [23]:
#%% 导入必要模块
import pandas as pd
from sqlalchemy import create_engine

# 初始化数据库连接，使用pymysql模块
db_info = {'user': 'root',
           'password': '123456',
           'host': 'localhost',
           'port': 3306,
           'database': 'ss_ent_evaluation_system_manage'
           }

engine = create_engine('mysql+pymysql://%(user)s:%(password)s@%(host)s:%(port)d/%(database)s?charset=utf8' % db_info, encoding='utf-8')

## 1、创建数据库表

In [32]:
# -*-coding:utf-8-*-

import pymysql

# 打开数据库连接（此处修改用户名和密码）
conn = pymysql.connect(host='localhost',user='root',password='123456',db='test')


# 使用cursor()方法创建一个游标对象cursor
cursor = conn.cursor()  # 游标对象用于执行查询和获取结果


# 使用execute()方法执行SQL，如果表存在则将其删除
cursor.execute('DROP TABLE IF EXISTS EMPLOYEE')

# 使用预处理语句创建表
sql = """CREATE TABLE `employee` (
  `first_name` varchar(255) DEFAULT NULL COMMENT '姓',
  `last_name` varchar(255) DEFAULT NULL COMMENT '名',
  `age` int(11) DEFAULT NULL COMMENT '年龄',
  `sex` varchar(255) DEFAULT NULL COMMENT '性别',
  `income` varchar(255) DEFAULT NULL COMMENT '收入' )"""

# 执行SQL语句
cursor.execute(sql)

# 关闭数据库连接
conn.close()

## 2、插入数据

In [34]:
# -*-coding:utf-8-*-

import pymysql

# 打开数据库连接
conn =  pymysql.connect(host='localhost',user='root',password='123456',db='test')

# 使用cursor()方法获取操作游标
cursor = conn.cursor()

# SQL语句：向数据表中插入数据
sql = """INSERT INTO employee(first_name,
         last_name, age, sex, income)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)""" #修改这一行数据，可多次插入

# 异常处理
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 提交事务到数据库执行
    conn.commit()  # 事务是访问和更新数据库的一个程序执行单元
except:
    # 如果发生错误则执行回滚操作
    conn.rollback()

# 关闭数据库连接
conn.close()

## 3、查询数据

In [35]:
# -*-coding:utf-8-*-

import pymysql

# 打开数据库连接
conn =  pymysql.connect(host='localhost',user='root',password='123456',db='test')

# 使用cursor()方法获取操作游标
cursor = conn.cursor()

# SQL语句：查询
sql = "SELECT * FROM employee WHERE income > 100 "

# 异常处理
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 获取所有的记录列表
    results = cursor.fetchall()
    # 遍历列表
    for row in results:
        # 打印列表元素
        print(row)
        # 姓
        first_name = row[0]
        # 名
        last_name = row[1]
        # 年龄
        age = row[2]
        # 性别
        sex = row[3]
        # 收入
        income = row[4]
        # 打印列表元素
        print(first_name, last_name, age, sex, income)
except:
    print('Uable to fetch data!')

# 关闭数据库连接
conn.close()

('Mac', 'Mohan', 20, 'M', '2000')
Mac Mohan 20 M 2000

## 4、删除数据

In [39]:
# -*-coding:utf-8-*-

import pymysql

# 打开数据库连接
conn =  pymysql.connect(host='localhost',user='root',password='123456',db='test')

# 使用cursor()方法获取操作游标
cursor = conn.cursor()

# SQL语句，执行删除操作
sql = 'DELETE FROM employee WHERE income > 500 AND age >25'

# 异常处理
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 提交到数据库执行
    conn.commit()
except:
    # 发生错误时回滚
    conn.rollback()

# 关闭数据库连接
conn.close()

## 5、更新数据

In [ ]:
# -*-coding:utf-8-*-

import pymysql

# 打开数据库连接
conn =  pymysql.connect(host='localhost',user='root',password='123456',db='test')

# 使用cursor()方法获取操作游标
cursor = conn.cursor()

# SQL语句，执行更新操作
sql = 'UPDATE employee SET age = age + 5 WHERE sex = "M"'

# 异常处理
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 提交到数据库执行
    conn.commit()
except:
    # 发生错误时回滚
    conn.rollback()

# 关闭数据库连接
conn.close()